---
import Layout from "../layouts/Layout.astro";
import TwoControls from "../components/TwoControls.svelte";
---

<Layout>
	<div class="flex flex-row h-full">
		<TwoControls client:only />
	</div>
</Layout>
